<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mapping -->
      <package
            uri="http://inria.atlanmod.fr/notationEvaluation/mapping"
            class="mapping.MappingPackage"
            genModel="model/mapping.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mapping -->
      <package
            uri="http://inria.atlanmod.fr/notationEvaluation/notation"
            class="notation.NotationPackage"
            genModel="model/mapping.genmodel"/>
   </extension>

</plugin>
